<script lang="ts">
import Vue from 'vue';
import SlpMileStoneIcon from './milestone-icon.vue';

export default Vue.extend({
  name: 'Timeline',
  components: {
    SlpMileStoneIcon,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <section class="timeline">
    <div id="timeline" class="timeline__header" data-slippers-scroll="timeline">
      <SlpTypography tag="h2" variant="heading3">{{
        data.header
      }}</SlpTypography>
      <SlpTypography tag="p" variant="heading4">{{
        data.subtitle
      }}</SlpTypography>
    </div>
    <div class="timeline__milestones">
      <div
        v-for="(milestone, index) in data.milestones"
        :key="`milestone${index}`"
        class="timeline__milestone"
      >
        <SlpMileStoneIcon :icon="milestone.icon" />
        <SlpTypography tag="h3" variant="heading4">{{
          milestone.title
        }}</SlpTypography>
        <div v-html="$md.render(milestone.text)"></div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.timeline {
  color: #333;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 15px;
  grid-gap: 15px;
  margin: 64px auto;
  max-width: 100%;

  @media (min-width: $breakpoint-lg) {
    margin-bottom: 132px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1140px;
  }
}

.timeline__header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / 11;
  }
}

.timeline__milestones {
  grid-column: 1 / -1;

  @media (min-width: $breakpoint-lg) {
    grid-column: 3 / 9;
  }
}

.timeline__milestone {
  background: #f8f8f8;
  padding: 24px 32px;
  position: relative;
  margin-bottom: 37px;
  &:after {
    background: #f8f8f8;
    content: '';
    left: 50%;
    position: absolute;
    height: 24px;
    bottom: 100%;
    transform: translate(-50%, -13px);
    width: 2px;
  }
}

h3 {
  font-size: 23px;
  line-height: 1.25;
  margin-bottom: 8px;
}

p {
  font-size: 23px;
  max-width: 442px;
}

.timeline__milestone::v-deep p a {
  color: #7d2bd9;
}
</style>
