<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '~/common/meta';

import { NextStep } from '~/components/common/index';
import {
  PlanSummary,
  NoImageAccordion,
  CaseStudyCarousel,
  RoiCalculatorBlock,
  FeaturesBlock,
} from '~/components/pricing/plans/index';

export default Vue.extend({
  components: {
    PlanSummary,
    NoImageAccordion,
    CaseStudyCarousel,
    RoiCalculatorBlock,
    FeaturesBlock,
    NextStep,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const doc = await $content(
        `pricing/${params.pricing ? params.pricing : 'index'}`,
      ).fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <div class="pricing-plan">
    <SlpContainer>
      <SlpSideNavigation :data="doc.side_menu">
        <template #header>
          <div class="pricing-plan__nav-buttons">
            <SlpButton
              v-for="(button, buttonIndex) in doc.side_menu.hyperlinks.data"
              :key="buttonIndex"
              :variant="button.variant"
              :href="button.href"
              :data-ga-name="button.data_ga_name"
              :data-ga-location="button.data_ga_location"
              >{{ button.text }}
              <SlpIcon
                v-if="button.icon"
                class="slp-ml-8"
                name="chevron-lg-right"
                variant="product"
                alt="Chevron Right Icon"
              />
            </SlpButton>
          </div>
        </template>
        <div id="overview" class="pricing-plan__content">
          <component
            :is="component.name"
            v-for="component in doc.components"
            :key="component.name"
            :data="component.data"
          />
        </div>
      </SlpSideNavigation>
      <SlpTopButton data-ga-name="to-top" data-ga-location="body" />
    </SlpContainer>
    <SlpContainer id="get-in-touch" variant="gradient">
      <NextStep :disable-animations="true" />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.pricing-plan {
  margin-top: $spacing-96;

  &:deep {
    #collapsible-sidebar-content {
      margin-right: $spacing-96;
      max-width: 65%;

      @media (min-width: $breakpoint-sm) and (max-width: 1000px) {
        max-width: 40%;
      }
    }

    .dropdown {
      @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        top: 80px;
      }
    }

    @media (min-width: $breakpoint-md) {
      .nav-heading {
        display: none;
      }
    }
  }

  &__nav-buttons {
    width: 100%;
    margin-bottom: $spacing-24;
    .slp-btn {
      width: 100%;
      justify-content: center;
      margin-bottom: $spacing-8;
    }

    .slp-btn-secondary {
      padding: 11px 0;
    }
  }

  @media (min-width: $breakpoint-sm) and (max-width: 1000px) {
    margin-right: $spacing-64;
  }

  // sidenav is on mobile view
  @media (max-width: $breakpoint-md) {
    margin-top: 0;
    padding-top: $spacing-16;

    &__content {
      padding-right: 0;
    }

    &:deep {
      .dropdown {
        padding-bottom: $spacing-16;
      }

      #collapsible-sidebar-content {
        margin-right: 0;
      }

      .slp-top-btn {
        display: none;
      }
    }
  }
}
</style>
