<template>
  <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M3 4.5h18a1.5 1.5 0 010 3H3a1.5 1.5 0 010-3zm0 6h18a1.5 1.5 0 110 3H3a1.5 1.5 0 110-3zm0 6h18a1.5 1.5 0 110 3H3a1.5 1.5 0 110-3z"
      fill="#333"
    />
  </svg>
</template>
